# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# ML models
*.h5
*.pt
*.pth
*.pkl

# Datasets
dataset/
brain_dataset/
data/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db